<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./list" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>label</mat-icon>
        <span>heroes list</span>
      </a>

      <a routerLink="./add" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>add</mat-icon>
        <span>add hero</span>
      </a>

      <a routerLink="./search" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>search</mat-icon>
        <span>search for hero</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="user-logout">
      <span>{{ auth.usuario }}</span>
      <button mat-button (click)="logout()">logout</button>
    </div>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
